.gitignore
Advanced_shell/pikachu_data.json
Advanced_shell/venusaur.json
Advanced_shell/ivysaur.json
Advanced_shell/charmeleon.json
Advanced_shell/charmander.json
Advanced_shell/bulbasaur.json
Advanced_shell/summaryData.csv
